@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}




<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div class="container-fluid">
    <p> New task created...</p>
    <h4>What do you want to do?</h4>
    @Html.ActionLink("Go back", "Index", "TaskList")
    or
    @Html.ActionLink("Check tasks", "MyList", "TaskList")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}