@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div class="container-fluid">

    <h1 class="text-danger">Error.</h1>

</div>

<div class="container-fluid">

    <h2 class="text-danger">An error occurred while processing your request.</h2>

</div>

<div class="container-fluid">

    <h4>Please go back and login to application.</h4>

</div>

<div class="container-fluid">

    <h6>Administrator</h6>

</div>

<div class="container-fluid">

    @Html.ActionLink("Click here", "Login", "Account")

</div>