@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

    <head>

        <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

    </head>
}


<div class="container-fluid">
    <h1>Search</h1>
</div>

@*/ GET: Search
    //Search - Laptop
    //Search - Store
    //Search - Transfer

    //Example 1. search for Notebook Acer Aspire 1 in Laptop section
    //Example 2. search for SD Store Zadar in Store section
    //Example 3. search for Notebook HP 250-G7 in Transfers*@


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="laptop-tab" data-toggle="tab" href="#laptop" role="tab" aria-controls="laptop" aria-selected="true" onclick="hideAllInfo()">Search Laptop</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="store-tab" data-toggle="tab" href="#store" role="tab" aria-controls="store" aria-selected="false" onclick="hideAllInfo()">Search Store</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="transfer-tab" data-toggle="tab" href="#transfer" role="tab" aria-controls="transfer" aria-selected="false" onclick="hideAllInfo()">Search Transfer</a>
    </li>
</ul>

<div class="container-fluid" id="hide" name="hide">
    <p style="padding-top:10px">Choose from tab what do you want to search.</p>
    <ul>
        <li>Laptop</li>
        <li>Store</li>
        <li>Transfer</li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="laptop" role="tabpanel" aria-labelledby="laptop-tab">


        @using (Html.BeginForm("Result", "Search"))
        {
            <div class="container-fluid">


                <div class="container-fluid">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <h3>Please insert laptop name</h3>
                        <label for="name">Name: </label>
                        <input type="text" id="name" name="name">
                    </div>
                </div>


                <br />
                <div class="container">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>

            </div>

        }


        @using (Html.BeginForm("SearchByManufacturer", "Search"))
        {
            <div class="container-fluid">


                <div class="container-fluid">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <h3>Please insert manufacturer name</h3>
                        <label for="name">Name: </label>
                        <input type="text" id="manufacturer" name="manufacturer">
                    </div>
                </div>


                <br />
                <div class="container">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>

            </div>

        }

        @using (Html.BeginForm("SearchByOS", "Search"))
        {
            <div class="container-fluid">


                <div class="container-fluid">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <h3>Please insert OS name</h3>
                        <label for="name">Name: </label>
                        <input type="text" id="os" name="os">
                    </div>
                </div>


                <br />
                <div class="container">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>

            </div>

        }


    </div>
    <div class="tab-pane fade" id="store" role="tabpanel" aria-labelledby="store-tab">


        @using (Html.BeginForm("SearchStore", "Search"))
        {
            <div class="container-fluid">


                <div class="container-fluid">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <h3>Please insert store name</h3>
                        <label for="name">Name: </label>
                        <input type="text" id="storeName" name="storeName">
                    </div>
                </div>


                <br />
                <div class="container">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>

            </div>



        }


    </div>
    <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">


        @using (Html.BeginForm("SearchTransfer", "Search"))
        {
            <div class="container-fluid">


                <div class="container-fluid">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <h3>Please insert laptop name</h3>
                        <label for="name">Name: </label>
                        <input type="text" id="laptopName" name="laptopName">
                    </div>
                </div>


                <br />
                <div class="container">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>

            </div>

        }


    </div>
</div>

<script>
    function hideAllInfo() {
        $("#hide").hide();
        //alert('a_onClick');
    }
</script>